# Ignore node_modules
node_modules

# Ignore build folder
dist

# Ignore environment files
.env
.env.*

# Ignore compiled files
*.js
*.jsx
*.json

# Ignore specific files or directories
coverage
logs
